* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #F9F9F9;
  overflow: scroll;
}

.bar {
  height: 30px;
  width: calc(90%);
  background: #FFF;
  border-radius: 60px;
  margin: 1rem auto;
  box-shadow: 0 0 1px #CECECE;
  overflow: hidden;
}

.bar button {
  background: none;
  border: none;
  outline: none;
  height: 30px;
  font-weight: bold;
  color: #717171;
  padding: 0 1rem;
  transition: 0.3s;
}

.bar button:hover {
  background: #F2FAFD;
  transition: 0.7s;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: calc(100% - 2rem);
  margin: 1rem auto;
  text-align: center;
}

.card {
  min-height: 270px;
  width: 100%;
  max-width: 280px;
  background: #FFF;
  box-shadow: 0 0 4px #D5D5D5;
  margin: 1rem;
  display: inline-block;
  text-align: left;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
}

.card2 {
  width: 90%;
  min-height: 200px;
  max-width: 500px;
  background: #FFF;
  box-shadow: 0 0 4px #D5D5D5;
  margin: 1rem auto;
  text-align: left;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  padding: 1rem;
}

.profile{
  width: 60px;
  height: 60px;
  background: #EEEEEE;
  border-radius: 100%;
  display: inline-block;
}

.name {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.6rem;
}

.content {
  background: #EEEEEE;
  width: 97%;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
}

.content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.picture {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

.title {
  color: #444444;
  padding: 0.1rem 0.3rem;
  font-size: 20px;
}

.text {
  color: #A4A4A4;
  padding: 0.1rem 0.3rem;
}

.btn {
  border: none;
  border-radius: 4px;
  background: #1B8EE3;
  color: #FFF;
  padding: 0.3rem 0;
  min-width: 80px;
  float: right;
  margin: 1rem;
  outline: none;
  transition: 0.7s;
}

.btn:hover {
  background: #5DB5ED;
  transition: 0.7s;
}