* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: #F4F4F4;
  max-height: 100%;
}

.bar {
  height: 40px;
  width: 100%;
  background: #FFF;
  margin-bottom: 1rem;
  overflow: hidden;
}

.bar button {
  background: none;
  border: none;
  outline: none;
  height: 40px;
  font-weight: bold;
  color: #828282;
  padding: 0 1rem;
  transition: 0.3s;
}

.bar button:hover {
  background: #F2FAFD;
  transition: 0.7s;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: calc(100% - 2rem);
  margin: 1rem auto;
}

.container2 {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.card {
  overflow: hidden;
  width: 100%;
  max-width: 280px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  margin: 1rem;
  display: inline-block;
  text-align: left;
  border-radius: 4px;
  vertical-align: top;
}

.card2 {
  width: 90%;
  min-height: 200px;
  max-width: 500px;
  background: #FFF;
  box-shadow: 0 0 4px #D5D5D5;
  margin: 1rem auto;
  text-align: left;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  padding: 1rem;
}

.profile {
  width: 60px;
  height: 60px;
  background: #EEEEEE;
  border-radius: 100%;
  display: inline-block;
}

.name {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.6rem;
}

.content {
  background: #EEEEEE;
  width: 97%;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
}

.content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.picture {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

.title {
  color: #628EBC;
  padding: 0.1rem 0.3rem;
  font-size: 20px;
}

.text {
  color: #FFF;
  padding: 0.1rem 0.3rem;
}

.btn {
  border: none;
  border-radius: 4px;
  background: #0A2840;
  color: #FFF;
  padding: 0.3rem 0;
  min-width: 80px;
  float: right;
  margin: 1rem;
  outline: none;
  transition: 0.7s;
}

.btn:hover {
  background: #5DB5ED;
  transition: 0.7s;
}

.lspace {
  width: 100%;
  max-width: 400px;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  height: calc(100% - 30px - 2rem);
  color: #FFF;
}

.lspace img {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  background: #0000002E;
}

.lspace h1 {
  color: #FFF;
  text-align: center;
}

.lspace h2 {
  color: #628EBC;
  font-size: 12px;
  text-align: center;
}

.lspace a {
  color: #628EBC;
  text-decoration: none;
  cursor: none;
}

.lspace a:hover {
  color: #FFF;
  transition: 0.5s;
}

.note {
  background: #002040;
  color: #Fff;
  padding: 0.5rem;
  margin: 0.3rem 0;
}

.lBar {
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.lBar button {
  color: #628EBC;
}

.lBg {
  background: url(ProfileIMGS/landscape.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#ppanel {
  overflow: hidden;
  background: #08AAED;
}

#ppanel img {
  width: 200px;
  height: 200px;
  background: #70D5FF;
  margin: 1rem;
}

#ppanel h1 {
  color: #FFF;
  font-size: 50px;
  border-bottom: 2px solid #FFF;
  max-width: 200px;
  margin: 1rem;
}

#ppanel p {
  color: #FFF;
  margin: 0 1rem;
  width: 90%;
  text-align: justify;
}

#ppanel div {
  width: calc(100% - (200px + 4rem));
}

#corredor {
  max-width: 100%;
  border-bottom: 1px solid #E3E3E3;
  overflow: scroll;
  max-height: 200px;
  padding: 1rem;
}

#corredor div {
  width: 250px;
  border-radius: 4px;
  overflow: hidden;
  background: #E3E3E3;
  float: left;
}

#corredor div img {
  width: 100%;
  display: block;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.cardSpace {
  height: 0;
}

#loadPage {
  background: rgba(0, 2, 10, 0.9);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(60px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

#circleLoading {
  border: 3px solid #0068FF;
  border-top: 3px solid #30ACFF;
  border-left: 3px solid #30ACFF;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

@media (max-width: 720px) {
  .lBg {
    background-size: cover;
  }

  .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}